/*general*/

body {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Roboto', sans-serif;
}

body h1 {
    font-family: 'Shrikhand', cursive;
}

body h2 {
    margin-left: 5%;
}

/*variables*/

:root {
    --primary_color: #9356dc;
    --secondary_color: #FF79DA;
    --tertiary_color: #99E2D0;
    --footer-color: #353535;
    --background-1: #eaeaea;
    --background-2: #f6f6f6;
    --font-color:#555555;
}

/*body*/

/*header*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.8em;
}

header a {
    width: 45%;
    display: flex;
    justify-content: center;

}

header img {
    width: 100%;
}

/*nav*/

.nav__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-1);
    width: 100%;
    height: 3.1em;
    box-shadow: inset 0px 13px 10px -14px #979696;
}

.fa-location-dot {
    margin-right: 3%;
    font-size: 1.1em;
}

.location__city {
    width: 35%;
    margin-right: 5%;
    color: black;
}

.nav__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-2);
    height: 17em;
    margin-bottom: 15%;
}

nav h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 75%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
}

nav p {
    width: 90%;
    text-align: center;
    color: var(--font-color);
    font-size: 1.1em;
}

.title__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 3em;
    background-image: linear-gradient(to bottom, var(--secondary_color), 35%, var(--primary_color));
    border-radius: 30px;
    color: white;
    text-decoration: none;
    margin-top: 4%;
    box-shadow: 0px 16px 20px -18px black;
}

.title__link:hover {
    background-image: linear-gradient(to bottom, var(--secondary_color), 70%, var(--primary_color));
    box-shadow: 0px 16px 20px -10px black;
}

/*main*/

/*aside*/

aside {
    margin-bottom: 15%;
}

.aside__box {
    display: flex;
    align-items: center;
    margin-bottom: 8%;
}

.aside__box--2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(246, 246, 246);
    width: 87%;
    height: 4em;
    border-radius: 20px;
    margin-left: 8%;
    margin-bottom: 0%;
    box-shadow: 0px 10px 20px -20px black;
}

.aside__box--2:hover{
    background-color: #9256dc25;
}

.aside__box--2:hover>.aside__icon {
    color: var(--primary_color);
}

.aside__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
    width: 25px;
    height: 25px;
    color: #7e7e7e;
    font-size: 1.2em;
}

aside p {
    margin-left: 7%;
}

.box__number {
    margin-left: 4.5%;
    padding: 2%;
    position: absolute;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: var(--primary_color);
    border: 0px black solid;
    font-size: 0.8em;
}

/*section restaurants*/

section {
    background-color: var(--background-2);
    height: 78.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    align-self: start;
    margin-top: 14%;
    margin-bottom: 6%;
}

.restaurant__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: 16em;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 5%;
    text-decoration: none;
    color: black;
    box-shadow: 0px 10px 20px -20px black;
}

.restaurant__box img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
}

.restaurant__box h3 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.17em;
}

.restaurant__box p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.17em;
    color: var(--font-color);
}

.restaurant__box--new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 4.5%;
    background-color: var(--tertiary_color);
    color: #139273;
    position: absolute;
    z-index: 1;
    margin-left: 65%;
    margin-top: 4%;
    font-size: 90%;
    border-radius: 2px;
}

.box__title {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title__text {
    width: 50%;
    margin-right: 25%;
}

/*test transition coeur*/

.heart__empty {
    position: absolute;
    z-index: 1;
    color: black;
    font-size: 1.5em;
    background-color: transparent;
    margin-bottom: 10%;
    margin-top: -0.5%;
    margin-left: -3.5%;
}

.heart__full {
    font-size: 1.3em;
    margin-left: -55%;
    margin-bottom: 40%;
    color: white;
    transition: color 0.5s;
}

.heart__empty:hover+.heart__full {
    color: var(--primary_color);
}

/*footer*/

footer {
    display: flex;
    align-items: center;
    background-color: var(--footer-color);
    height: 14em;
}

footer h2 {
    font-family: 'Shrikhand', cursive;
    color: white;
    width: 100%;
    font-size: 1.4em;
    margin-bottom: 5%;
    margin-left: 0;
    margin-top: 0%;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6%;
    margin-bottom: 2%;
    height: 90%;
    width: 70%;
}

.footer__nav p {
    margin: 0;
}

.nav__link--image {
    width: 8em;
}

.nav__link--1 {
    display: flex;
    align-items: center;
    width: 75%;
    color: white;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 3%;

}

.nav__link--2 {
    display: flex;
    align-items: center;
    width: 60%;
    color: white;
    text-decoration: none;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.nav__link--1 p {
    margin-left: 6%;
}

.nav__link--2 p {
    margin-left: 3%;
}

.nav__link--3and4 {
    color: white;
    text-decoration: none;
    margin-top: 2.5%;
    margin-bottom: 1%;
    width: fit-content;
}