/*general*/

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Roboto', sans-serif;

}

body h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.7em;
}

body h2 {
    margin-left: 5%;
}

/*variables*/

:root {
    --primary_color: #9356dc;
    --secondary_color: #FF79DA;
    --tertiary_color: #99E2D0;
    --footer-color: #353535;
    --background-1: #eaeaea;
    --background-2: #f6f6f6;
}

/*body*/

/*header*/

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3.8em;
}

.header__link1 {
    align-self: center;
    font-size: 1.4em;
    color: black;
    margin-left: 5%;
    margin-right: 16%;
}

.header__link2 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 45%;
    height: auto;
}

header h1 {
    width: 50%;
    font-size: 2em;
}

/*test coeur */

.restaurant__heart {
    margin-left: auto;
    margin-right: 10%;
    margin-top: 2%;
}

.heart__empty {
    position: absolute;
    z-index: 1;
    color: black;
    font-size: 1.5em;
    margin-bottom: 10%;
    margin-top: -0.5%;
    margin-left: -3.5%;
}

.heart__full {
    font-size: 1.3em;
    margin-left: -55%;
    margin-bottom: 40%;
    color: var(--background-2);
    transition: color 0.5s;
}

.heart__empty:hover+.heart__full {
    color: var(--primary_color);
}

/*main*/

main img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.main__menu {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: sticky;
    z-index: 1;
    background-color: var(--background-2);
    width: 100%;
    height: auto;
    border-radius: 45px 45px 0 0;
    margin-top: -13%;
}

.main__menu header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

.main__menu header h1 {
    font-size: 1.7em;
    width: auto;
}

.menu__titles--starters {
    font-size: 1.1em;
    font-weight: normal;
    width: 12%;
    border-bottom: 3px var(--tertiary_color) solid;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-bottom: 1%;
}

.menu__titles {
    font-size: 1.1em;
    font-weight: normal;
    width: 12%;
    border-bottom: 3px var(--tertiary_color) solid;
    margin-bottom: 4%;
    margin-top: 10%;
    padding-bottom: 1%;
}

.menu__text h3 {
    margin-bottom: 2%;
    margin-top: 0%;
    font-size: 1.1em;
}

.menu__text p {
    font-size: 0.95em;
    margin-top: 0%;
    margin-bottom: 0%;
}

.main__menu-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 95%;
    height: 4.5em;
    margin-top: 0;
    margin-bottom: 4%;
    margin-left: 2.5%;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.menu__text {
    width: 80%;
    margin-left: 3%;
}

.menu__price {
    align-self: flex-end;
    margin-left: 5%;
    margin-bottom: 4%;
    font-weight: bold;
}

.menu__order-button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 3em;
    background: linear-gradient(var(--secondary_color), 40%, var(--primary_color));
    border-radius: 30px;
    color: white;
    text-decoration: none;
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 1.1em;
}

.menu__order-button:hover {
    background: linear-gradient(var(--secondary_color), 60%, var(--primary_color));
    box-shadow: 0px 20px 25px -23px rgba(0, 0, 0, 1);
}

/*footer*/

footer {
    display: flex;
    align-items: center;
    background-color: var(--footer-color);
    height: 14em;
}

footer h2 {
    font-family: 'Shrikhand', cursive;
    color: white;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 5%;
    margin-left: 0;
    margin-top:0%;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6%;
    margin-bottom: 2%;
    height: 90%;
    width: 70%;
}

.footer__nav p {
    margin: 0;
}

.nav__link--image {
    width: 8em;
}

.nav__link--1 {
    display: flex;
    align-items: center;
    width: 75%;
    color: white;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 3%;

}

.nav__link--2 {
    display: flex;
    align-items: center;
    width: 60%;
    color: white;
    text-decoration: none;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.nav__link--1 p {
    margin-left: 6%;
}

.nav__link--2 p {
    margin-left: 3%;
}

.nav__link--3and4 {
    color: white;
    text-decoration: none;
    margin-top: 2.5%;
    margin-bottom: 1%;
    width: fit-content;
}
